$asea-purple: #5b2b82;
$asea-min-purple:#7c559b;
$asea-dark-blue:#002179;
$asea-min-dark-blue: #334d94;
$asea-green:#125979;
$asea-min-green: #417a94;
$asea-light-blue:#0ab0ed;
$asea-grey: #eaeaea;


$search-background : $asea-purple;
$search-input-background: #f6f8f9;


$uikit-colour-Hero: $asea-purple;
$uikit-colour-Primary: $asea-dark-blue;
$uikit-colour-Secondary: $asea-green;
$uikit-colour-Background: #fff;
//$uikit-colour-Border: #555;
//$uikit-colour-Text: #313131;
//$uikit-colour-Link: #5bcbe3;
$uikit-colour-Background: #fff;