$purple: #5b2b82;
$min-purple:#7c559b;
$dark-blue:#002179;
$min-dark-blue: #334d94;
$green:#125979;
$min-green: #417a94;
$light-blue:#0ab0ed;
$grey: #eaeaea;


$search-background : $purple;
$search-input-background: #f6f8f9;


$uikit-colour-Hero: $purple;
$uikit-colour-Primary: $dark-blue;
$uikit-colour-Secondary: $green;
$uikit-colour-Background: #fff;
//$uikit-colour-Border: #555
//$uikit-colour-Text: #313131;
//$uikit-colour-Link: #5bcbe3;
$uikit-colour-Background: #fff;