<div class="row">
<div class="grids col-xs-9 asea-branding collapsible">
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-logo">
        <img class="uikit-responsive-media-img" src="/{{ directory }}/img/asea-crest_inline_x800.png" alt="{{ 'Australian Government - Asbestos Safety and Eradication Agency | Click to go to the home page'|t }}" />
    </a>
</div>
    <div class="grids col-xs-3" id="navbar-toggle">

        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <h2>Menu</h2>
    </div>
</div>